{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="middle text-center clearfix">
    <div class="container"></div><!-- container -->
        <img class="sp-image" src="{% static 'bg/headbg.jpg' %}" alt="" height="100%" width="100%">
        <h1 class="pro-name">Mary Ann Deutel</h1>
        <h3 class="pro-name"> Full Stack Developer</h3>
        <p class="tagline">Bring your dreams to life</p>
        <div class="skills">

        </div>  <!-- skills -->
        <a href="#contact" target="_blank" class="btn btn-lg btn-hire wow animated zoomIn">Hire Me</a>
        
   
</div>  <!-- middle -->
{% endblock %}