{% extends 'base.html' %}

{% load static %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="middle text-center clearfix">
    <div class="container">
    <h1 class="pro-name">Mary Ann Deutel</h1>
        <p class="tagline">Bring your dreams to life</p>
        <a href="{% url 'contact' %}" target="_blank" class="btn btn-lg btn-hire wow animated zoomIn">Hire Me</a>
    </div><!-- container -->
        <img class="sp-image" src="{% static 'bg/headbg.jpg' %}" alt="" height="100%" width="100%">
        
        <div class="skills">

        </div>  <!-- skills -->
        
   
</div>  <!-- middle -->
{% endblock %}